.App {
  background-color: var(--background);
  padding: 2em;
}

.side-bar {
  color: var(--text-color);
  height: 90%;
  width: var(--sidebar-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  margin-left: var(--sidebar-width); /* Same as the width of the sidebar */
  padding: 0 10px;
  width: 50%;
}

footer {
  color: var(--text-color);
  text-align: center;
}

/* For screens smaller than 768px (e.g., mobile phones) */
@media screen and (max-width: 768px) {
  .App {
    padding: 1em; /* Reduce padding for small screens */
  }

  .side-bar {
    order: -1; /* Move the sidebar to the beginning of the stacking order */
    margin-bottom: 20px; /* Add some spacing between sidebar and main section */
    position: static; /* Remove fixed positioning for small screens */
    height: auto; /* Allow sidebar to adjust its height based on content */
    max-width: 100%; /* Take full width on small screens */
  }

  .main {
    order: 1; /* Move the main section after the sidebar in the stacking order */
    max-width: 100%; /* Take full width on small screens */
    width: auto;
    margin: 0;
  }
}