.experience {
    color: #C5C6C7;
    display: flex;
    flex: auto;
    flex-direction: row;
    padding: 0.5em;
}

.experience:hover {
    background-color: #1a1c25;
    border-radius: 8px;
}

.experience-title {
    font-size: 17px;
    font-weight: bold;
    color: var(--text-color);
}

.experience-company {
    color: var(--secondary-text);
}

.experience-duration {
    color: var(--secondary-text);
    font-size: 14px;
    margin-bottom: 0.5em;
}

.experience-techs {
    color: var(--emph-text-color);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-top: 0.5em;
}

.experience-description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
}

/* 📱 Responsive: make text full width on small devices */
@media (max-width: 768px) {
    .experience {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience-description {
        width: 100%;
    }
}

