.photos-page {
  padding: 2rem;
  background-color: #121212;
  color: #e0e0e0;
}

.photos-page h1 {
  color: #fff;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* or full page height */
}

